<div data-role="view" id="noAppId" class="noappid-scrn" data-layout="default">
    <div data-role="header">
        <div data-role="navbar">
            <h3>Telerik Platform <br><strong>App ID</strong> is not set</h3>
        </div>
    </div>
    <p><span>App ID</span> links the sample mobile app to a project in Telerik Platform.</p>
    <p>To set the <span>App ID</span> open the <span>settings.js</span> file and replace <strong>app.settings.appId</strong> with the <span>App ID</span> of your 'Friends' project.</p>
</div>
