<div data-role="view" data-title="Activity" data-model="app.activitiesView.addEditActivityViewModel" data-bind="events: { show: onShow }" id="activitiesViewModelAddItemView">

    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;" data-role="view-title"></span>
            <a data-role="backbutton" data-align="left"></a>
            <a data-role="button" data-align="right" data-bind="events: {click: applyActivity }" data-icon="compose"></a>
        </div>
    </header>

    <img data-bind="attr: { src: activity.PictureUrl }" id="preview" width="100%" height="auto" style="max-height: 300px;"/>

    <div id="editableListForm2" class="form-view">
        <form id="activity-form">
            <ul class="form-content" data-role="listview" data-style="inset">
                <li>
                    <textarea data-bind="value: activity.Text" placeholder="What's on your mind?" type="text" required>
                    </textarea>
                </li>

                <li>
                    <div>
                        <label for="activityPhoto">
                            Upload photo of your activity
                        </label>
                        <br />
                        <button id="choose-file-button">Choose file</button>
                        <input type="file" accept="image/*" id="activityPhoto" style="display: none" />
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>