<div data-layout="main-nonav" data-role="view" data-title="Details" data-model="app.activitiesView.activityDetailsViewModel" data-bind="events: { show: onShow }" id="activitiesViewModelDetailsView">
    <div class="details-content">
        <img data-bind="attr: { src: currentActivity.PictureUrl }" width="100%" height="auto" style="max-height: 300px;">

        <h2 data-bind="text: currentActivity.User.DisplayName"></h2>
        <h3 data-bind="text: currentActivity.CreatedAt"></h3>
        <p data-bind="text: currentActivity.Text"></p>
    </div>

    <button id="goback" data-bind="events: {click: goBack }">
        Back
    </button>

    <button id="edit" data-bind="events: { click: editActivity }, visible: canEdit ">
        Edit
    </button>

    <button id="remove" data-bind="events: { click: removeActivity }, visible: canDelete ">
        Remove
    </button>

    <button role="button" data-bind="events: {click: openComments }"><span data-bind="text: currentActivity.CommentsCount"></span> Comments</button>
</div>