<div data-role="view" data-title="Friends" data-layout="main-nonav" data-model="app.activitiesView" data-show="app.activitiesView.onShow">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-role="view-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;"></span>

            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="settings"></a>
            <a data-role="button" data-align="right"
               data-bind="events: { click: activitiesViewModel.addActivityClick }" data-icon="add"></a>
        </div>
    </header>

    <ul data-role="listview" data-style="" data-template="activitiesViewModelTemplate" data-bind="{ source: activitiesViewModel.dataSource }" data-pull-to-refresh="true" data-endless-scroll="true">
    </ul>

    <script type="text/x-kendo-template" id="activitiesViewModelTemplate">
        <div class="image-with-text" data-id="#: data['Id'] #" data-bind="events: {click: activitiesViewModel.activityClick}">
            <img src="#: data['PictureUrl'] #" width="30%" height="30%">
            <h3>#: data['Text'] #</h3>
            <p>#: data['CreatedAt'] #</p>
            <p>Likes: #: data['LikesCount'] #</p>
            <button data-bind="events: {click: activitiesViewModel.likeActivity}">
                # if (data['Liked']) { # Unlike # } else { # Like # } #
            </button>
        </div>
    </script>
</div>