<div data-role="view" id="share" data-layout="default" data-transition="overlay:down" class="add-comment-view"
    data-init="app.AddComment.init" data-show="app.AddComment.show" data-model="app.AddComment">
    <div data-role="header">
        <div data-role="navbar">
            Friends
            <a class="nav-button" data-align="left" data-role="backbutton">Cancel</a>
            <a class="nav-button" data-align="right" data-role="button" data-bind="click: saveComment">Done</a>
        </div>
    </div>
    <div id="enterComment" class="share-form-wrp" data-role="listview" data-style="inset">
        <div class="user-share">
            <textarea id="newComment" placeholder="What's on your mind?" required validationMessage="Comment text is required!"></textarea>
        </div>
    </div>
</div>
