<div data-role="view" id="signup" data-layout="default" class="signup-view" data-model="app.Signup" data-init="app.Signup.init" data-show="app.Signup.show" data-hide="app.Signup.hide">
    <header data-role="header">
        <div data-role="navbar">
            Sign up
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton" href="#welcome">Back</a>
        </div>
    </header>
    <form id="signUp">
        <ul id="signup-form" data-role="listview" data-style="inset">
            <li>
                <input type="text" id="signupName" data-bind="value: DisplayName" placeholder="Name" required/>
            </li>
            <li>
                <input type="email" id="signupEmail" data-bind="value: Email" placeholder="Email"/>
            </li>
            <li>
                <input type="text" id="signupUsername" data-bind="value: Username" placeholder="Username" required/>
            </li>
            <li>
                <input type="password" id="signupPassword" data-bind="value: Password" placeholder="Password" required/>
            </li>
            <li>
                <input type="date" id="signupBirthDatePicker" data-bind="value: BirthDate"/>
            </li>
            <li class="select-wrp">
                <select id="signupGenderPicker" data-bind="value: Gender" onchange="app.Signup.onSelectChange(this)">
                    <option value="0" selected>Gender</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
            </li>
            <li class="txtarea-wrp">
                <textarea id="signupInfo" data-bind="value: About" placeholder="About">User account created from the hybrid app.</textarea>
            </li>
        </ul>
    </form>
    <div id="signupBtnWrp" class="signup-btn-wrp disabled">
        <a class="btn btn-signup" data-role="button" data-bind="click: signup">Register</a>
    </div>
</div>
