<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>$BundleExecutable$</string>
    <key>CFBundleIconFile</key>
    <string>icon.png</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>icon@2x.png</string>
          <string>icon.png</string>
          <string>Icon-Small.png</string>
          <string>Icon-Small@2x.png</string>
          <string>Default.png</string>
          <string>Default@2x.png</string>
          <string>Default-568h@2x.png</string>
          <string>icon-72.png</string>
          <string>icon-72@2x.png</string>
          <string>Icon-Small-50.png</string>
          <string>Icon-Small-50@2x.png</string>
          <string>Default-Landscape.png</string>
          <string>Default-Landscape@2x.png</string>
          <string>Default-Portrait.png</string>
          <string>Default-Portrait@2x.png</string>
          <string>icon-40.png</string>
          <string>icon-40@2x.png</string>
          <string>icon-60.png</string>
          <string>icon-60@2x.png</string>
          <string>icon-76.png</string>
          <string>icon-76@2x.png</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
      </dict>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>$AppIdentifier$</string>
    <key>CFBundleName</key>
    <string>$ProjectName$</string>
    <key>CFBundleDisplayName</key>
    <string>$DisplayName$</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>$BundleVersion$</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>