<div id="activities-view" data-role="view" data-title="Friends" data-layout="main-nonav" data-model="app.activitiesView" data-show="app.activitiesView.activitiesViewModel.onShow" class="activities-view">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-role="view-title"></span>

            <a class="button-icon button-menu" data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"></a>
            <a class="button-icon button-add" data-role="button" data-align="right"
               data-bind="events: { click: activitiesViewModel.addActivityClick }"></a>
        </div>
    </header>

    <ul id="activities-list-view" data-role="listview" data-template="activitiesViewModelTemplate"
        data-bind="source: activitiesViewModel.dataSource" data-pull-to-refresh="true" data-endless-scroll="true" data-use-native-scrolling="true">
    </ul>

    <script type="text/x-kendo-template" id="activitiesViewModelTemplate">
        <div class="content" data-id="#: data['Id'] #" data-bind="events: { click: activitiesViewModel.activityClick }">
            <div class="content-header">
                <div class="author-avatar">
                    <img data-id="#: data['User']['Id'] #" data-src="#: data['User']['PictureUrl'] #" data-responsive width="40" height="40">
                    <span style="display: none">#= app.utils.processImage(data.User.Id) #</span>
                </div>
                <div class="author-name">
                    #: data['Author'] #
                </div>
                <div class="content-date">
                    #: data['CreatedAt'] #
                </div>
            </div>
            <div class="content-picture">
                <img data-id="#: data['Id'] #" data-src="#: data['PictureUrl'] #" data-responsive height="300">
                <span style="display: none">#= app.utils.processImage(data.Id) #</span>
            </div>
            <p class="content-text">#: data['Text'] #</p>
            <div class="content-footer">
                <button data-bind="events: { click: activitiesViewModel.likeActivity }" class="likes">
                    # if (data['Liked']) { #
                    <span class="icon icon-like"></span>
                    # } else { #
                    <span class="icon icon-like-o"></span>
                    # } #
                    <span class="count">#= data['Likes']['length'] #</span>
                </button>

                <button data-bind="events: { click: activitiesViewModel.openComments }" class="comments">
                # if (data['CommentsCount']) { #
                    <span class="icon icon-comments"></span>
                # } else { #
                    <span class="icon icon-comments-o"></span>
                # } #
                    <span class="count">#: data['CommentsCount'] #</span>
                </button>
            </div>
        </div>
    </script>
</div>
