<div data-role="view" data-title="Authentication" data-layout="main-nonav" data-model="app.authenticationView" data-show="app.authenticationView.onShow" data-after-show="app.authenticationView.afterShow" class="authentication-view">
    <div class="signin-view">
        <h1>friends</h1>
        <form id="login-form" class="form">
            <h2>Login</h2>
            <ul data-role="listview">
                <li>
                    <input name="username" type="text" placeholder="Username" data-bind="value: authenticationViewModel.user.username" required autofocus>
                </li>
                <li>
                    <input name="password" type="password" placeholder="Password" data-bind="value: authenticationViewModel.user.password" required>
                </li>
            </ul>
            <a data-role="button" class="primary" data-bind="events: { click: authenticationViewModel.signin }">Login</a>
        </form>

        <a data-role="button" class="text-only" data-bind="events: { click: authenticationViewModel.toggleView }">Sign Up</a>

        <div class="social-login">
            <button class="button-social button-facebook" data-role="button" data-bind="events: { click: authenticationViewModel.facebookLogin }"></button>
            <button class="button-social button-adsf" id="adfs-btn" data-role="button" data-bind="events: { click: authenticationViewModel.adfsLogin }"></button>
        </div>
    </div>
    <div class="signup-view" style="display:none;">
        <h1>friends</h1>
        <form id="authentication-form" class="form">
            <h2>Create New Account</h2>
            <ul data-role="listview">
                <li>
                    <input name="username" type="text" placeholder="Username" data-bind="value: authenticationViewModel.user.username" required>
                </li>
                <li>
                    <input name="password" type="password" placeholder="Password" data-bind="value: authenticationViewModel.user.password" required>
                </li>
                <li>
                    <input name="email" type="email" placeholder="Email" data-bind="value: authenticationViewModel.user.email">
                </li>
                <li>
                    <input name="name" type="text" placeholder="Display Name" data-bind="value: authenticationViewModel.user.displayName">
                </li>
            </ul>
            <a class="primary" data-role="button"data-bind="events: { click: authenticationViewModel.register }">Sign Up</a>
        </form>
        <a class="button-icon button-back top-left" data-role="button" data-bind="events: { click: authenticationViewModel.toggleView }"></a>
    </div>

    <div class="offline" align="center" style="display:none;">
        You are currently offline. Before using this app in offline mode you must initialize it while you are online
    </div>
</div>
