<div data-role="view" data-title="Authentication" data-layout="main-nonav" data-model="app.authenticationView" data-show="app.authenticationView.onShow" data-after-show="app.authenticationView.afterShow">
    <div class="signin-view">
        <form id="login-form">
            <ul data-role="listview" data-style="inset">
                <li>
                    <label>Username
                        <input name="username" type="text" data-bind="value: authenticationViewModel.username" required autofocus>
                    </label>
                </li>
                <li>
                    <label>Password
                        <input name="password" type="password" data-bind="value: authenticationViewModel.password" required>
                    </label>
                </li>
            </ul>

            <div class="button-group button-group-vertical">
                <a data-role="button" class="primary" data-bind="events: { click: authenticationViewModel.signin }">Sign In</a>

                <a data-role="button" data-bind="events: { click: authenticationViewModel.toggleView }">Register</a>

                <a data-role="button" data-bind="events: { click: authenticationViewModel.facebookLogin }">Facebook</a>
                <a data-role="button" data-bind="events: { click: authenticationViewModel.googleLogin }">Google</a>
                <a data-role="button" data-bind="events: { click: authenticationViewModel.adfsLogin }">Adfs</a>
            </div>
        </form>
    </div>
    <div class="signup-view" style="display:none;">
        <form id="authentication-form">
            <ul data-role="listview" data-style="inset">
                <li>
                    <label>Username *
                        <input name="username" type="text" data-bind="value: authenticationViewModel.username" required>
                    </label>
                </li>
                <li>
                    <label>Password *
                        <input name="password" type="password" data-bind="value: authenticationViewModel.password" required>
                    </label>
                </li>
                <li>
                    <label>Email
                        <input name="email" type="email" data-bind="value: authenticationViewModel.email">
                    </label>
                </li>
                <li>
                    <label>Display Name
                        <input name="name" type="text" data-bind="value: authenticationViewModel.displayName">
                    </label>
                </li>
            </ul>
            <div class="button-group button-group-vertical">
                <a data-role="button" data-icon="back" data-bind="events: { click: authenticationViewModel.toggleView }"></a>
                <a class="primary" data-role="button"data-bind="events: { click: authenticationViewModel.register }">Register</a>
            </div>
        </form>
    </div>

    <div class="offline" align="center" style="display:none;">
        You are currently offline. Before using this app in offline mode you must initialize it while you are online
    </div>
</div>